.slick {
  &-next, &-prev {
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    &:before {
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-width: 4px 4px 0 0;
      content: '';
    }
    &:hover, &:focus {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &-next {
    right: 10px;
    &:before {
      margin: 3px 0 0 8px;
      transform: rotate(45deg);
    }
  }
  &-prev {
    left: 10px;
    &:before {
      margin: 3px 0 0 15px;
      transform: rotate(225deg);
    }
  }
  &-list {
    font-size: 0;
  }
  &-dots {
    bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  
}